<!--Section: Content-->
<section>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-end mb-4">
        <div class="form-outline">
          <input
            data-mdb-search
            data-mdb-target="#table_modal"
            type="text"
            id="search_modal"
            class="form-control"
          />
          <label class="form-label" for="search_modal">Search</label>
        </div>
      </div>
      <hr />
      <div id="table_modal"></div>
    </div>
  </div>
</section>
<!--Section: Content-->