
/* ================ SECTION-FOOTER ==================  */
.section-footer{
	ul {
		
		li{ margin-bottom:5px; }

		a{ 
		   color:inherit; 
			&:hover{ color:$primary; }
		}
	}

	
	.logo-footer{ height:40px; }
	.title{font-weight:600; margin-bottom:16px; font-size:18px;}
}
.footer-top{ 
	
}
.footer-bottom{ 
	padding-top:20px; padding-bottom:20px; border-top:1px solid lighten( $secondary, 10%);
}
.footer-copyright{ 
	padding-top:20px; padding-bottom:20px;
}